<s-page heading="<%= component.name %>">
  <s-link slot="breadcrumb-actions" target="_blank" href="<%= component.metadata.source_url.html %>">Polaris</s-link>

  <s-grid gridTemplateColumns="repeat(12, 1fr)" gap="base">
    <s-grid-item gridColumn="span 6" gridRow="span 1">
      <s-box paddingBlock="large">
        <s-stack gap="base">
          <h1><%= component.name %></h1>
          <s-paragraph>
            <%= component.description %>
          </s-paragraph>
        </s-stack>
      </s-box>

      <s-stack gap="base">
        <h2>Properties <%= component.properties.size %></h2>
        <s-divider></s-divider>
      </s-stack>
      <%= render partial: @component.properties, spacer_template: "divider" %>
    </s-grid-item>

    <s-grid-item gridColumn="span 6" gridRow="span 1">
      <aside class="sticky">
        <s-stack gap="base">
          <%= render "components/code", erb: @component.main_example.erb_code %>
          <%= render "components/preview", erb: @component.main_example.erb_code, try: true %>
          <% if @preview %>
            <%= render "components/preview_result", preview: @preview %>
          <% end %>
        </s-stack>
      </aside>
    </s-grid-item>
  </s-grid>

  <s-box paddingBlock="large">
    <s-stack gap="base">
      <s-divider></s-divider>
      <h2>Examples</h2>
    </s-stack>
  </s-box>

  <s-stack gap="base">
    <%= render partial: @component.examples, spacer_template: "divider" %>
  </s-stack>

</s-page>
