<s-page heading="<%= component.name %>">
  <s-link slot="breadcrumb-actions" target="_blank" href="<%= component.metadata.source_url.html %>">Polaris</s-link>

  <s-grid gridTemplateColumns="repeat(12, 1fr)" gap="base">
    <s-grid-item gridColumn="span 6" gridRow="span 1">
      <s-box paddingBlock="large">
        <h1><%= component.name %></h1>
        <s-paragraph>
          <%= component.description %>
        </s-paragraph>
      </s-box>

      <h2>Properties <%= component.properties.size %></h2>
      <s-divider></s-divider>
      <% component.properties.each do |property| %>
        <s-box padingBlock="large">
          <s-stack gap="base">
            <s-stack direction="inline" alignItems="center" gap="small-300">
              <s-box paddingBlock="base">
                <s-text tone="success" type="strong"><%= property.key %></s-text>
              </s-box>

              <s-box paddingBlock="base">
                <% if property.type.include?("|") %>
                  <% property.type.split("|").each do |type| %>
                    <s-chip>
                      <%= type %>
                    </s-chip>
                  <% end %>
                <% else %>
                  <s-chip>
                    <%= property.type %>
                  </s-chip>
                <% end %>
              </s-box>

              <% if property.default.present? %>
                <s-chip>
                  Default: <%= property.default %>
                </s-chip>
              <% end %>
            </s-stack>

            <s-paragraph>
              <%= property.description %>
            </s-paragraph>

            <s-divider></s-divider>
          </s-stack>
        </s-box>
      <% end %>
    </s-grid-item>

    <s-grid-item gridColumn="span 6" gridRow="span 1">
      <aside class="sticky">
        <s-stack gap="base">
          <%= render partial: "components/code", locals: { code: @component.main_example } %>
          <%= render partial: "components/preview", locals: { code: @component.main_example } %>
          <% if @preview %>
            <%= render partial: "components/preview_result", locals: { preview: @preview } %>
          <% end %>
        </s-stack>
      </aside>
    </s-grid-item>
  </s-grid>

  <s-box paddingBlock="large">
    <s-divider></s-divider>
  </s-box>

  <h2>Examples</h2>
  <s-stack gap="base">
    <%= render partial: @component.examples, spacer_template: "divider" %>
  </s-stack>

</s-page>
